[Desktop Entry]
Name=Switch Keyboard
Exec=switch-keyboard
Terminal=true
Icon={{ .chezmoi.homeDir }}/.local/share/icons/xfce4-keyboard-svg.svg
Type=Application
Comment=Switch my wireless keyboard between my personal computer and the Basetis one.
