{{- $envChoices := list "home" "work" }}
{{- $env := promptChoiceOnce . "env" "Environment" $envChoices -}}

{{- $gitName := promptStringOnce . "git.name" "Git name" -}}
{{- $gitEmail := promptStringOnce . "git.email" "Git email address" -}}
{{- $gitSigningKey := promptStringOnce . "git.signingKey" "Git signing key" -}}

{{- $ansibleVaultPasswordFile := promptStringOnce . "ansibleVault.passwordFile" "Ansible Vault password file path (leave empty if not available)" -}}

{{- $swayLockBg := promptStringOnce . "swayLock.bg" "Background image for swaylock" -}}

{{- $switchKeyboardMac := promptStringOnce . "switchKeyboard.mac" "MAC address of the keyboard (for switch-keyboard, only used in Linux)" -}}

[data]
  env = {{ $env | quote }}

[data.git]
  name = {{ $gitName | quote }}
  email = {{ $gitEmail | quote }}
  signingKey = {{ $gitSigningKey | quote }}

[data.ansibleVault]
  passwordFile = {{ $ansibleVaultPasswordFile | quote }}

[data.swayLock]
  bg = {{ $swayLockBg | quote }}

[data.switchKeyboard]
  mac = {{ $switchKeyboardMac | quote }}
