set mbox_type = "Maildir"
set folder = "~/.mail/gmail"
set spoolfile = "+Inbox"
set header_cache = "~/.cache/mutt/header_cache"
set postponed = "+[Gmail]/Drafts"

# The SMTP configuration is not available in dotfiles-external, only in the
# private dotfiles repo.
# If you want to know how I set this up, please don't hesitate to ask me
# personally! :)

bind index,pager B sidebar-toggle-visible
set sidebar_divider_char = '│'
set sidebar_format = '%B %<N?(%N)>%* %S'
bind index,pager \Cp sidebar-prev
bind index,pager \Cn sidebar-next
bind index,pager \Co sidebar-open

set use_threads = "yes"
set sort = "last-date"
set sort_aux = "date"
# Always quote the message when replying
set include = "yes"
set user_agent = yes

mailboxes +Inbox +[Gmail]/Drafts "+[Gmail]/Sent Mail"
# The alternates configuration is not available in dotfiles-external either,
# sorry.

set new_mail_command="notify-send 'New Email' '%n new messages, %u unread.' &"
macro index,pager O "<shell-escape>mbsync -a<enter>" "run mbsync to sync all mail"
